.col-xl-8 {
    font-size: 20px;
    color: rgb(103, 103, 103);
}

.cart_title h4 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
}

.cart_title h4::after {
    content: "____";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.col-xl-4 {
    border: 1px solid rgb(213, 211, 211);
    padding: 10px 20px;
    margin-bottom: 40px;
}

.col-xl-4 h4 {
    margin-top: 5px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(193, 191, 191) ;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.col-xl-4 .price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(193, 191, 191) ;
    margin-bottom: 15px;
}

.price p {
    font-weight: bold;

}

.price h6 {
    color: red;
    font-size: 20px;
}

.thanh_toan p {
    font-size: 15px;
    color: rgb(126, 126, 126);
    margin-bottom: 10px;
}

.thanh_toan h6 {
    text-align: center;
    background-color: red;
    color: white;
    padding: 12px 0;
    border: 1px solid red;
}

.thanh_toan h6:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.bottom_item {
    text-align: center;
    border: 1px solid black;
    width: 500px;
    font-size: 18px;
    padding: 10px 0 6px 0;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom a {
    text-decoration: none;
    color: black;
}

.bottom_item:hover {
    border: 1px solid #15ac7f;
    color: #15ac7f;
}