

.col-xl-9 p {
    margin: 0;
}

.col-xl-9 input {
    width: 400px;
    margin-bottom: 10px;
}

.col-xl-9 .button {
    background-color: red;
    color: white;
    width: 400px;
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    box-sizing: border-box;
    margin: 10px 0;
}

.col-xl-9 .button:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}

.col-xl-9 .login {
    margin-left: 60px;
    margin-top: 20px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.login a {
    text-decoration: none;
    color: red;
}