.col-xl-9 input {
    padding: 5px;
    margin: 10px 0;
    width: 400px;
}

.col-xl-9 .button {
    background-color: red;
    color: white;
    width: 400px;
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    box-sizing: border-box;
    margin: 10px 0;
}

.col-xl-9 .button:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}

.col-xl-9 span {
    font-size: 14px;
    margin-right: 160px;
    padding: 0;
    color: #05a;
}

.col-xl-9 span:hover {
    color: red;
    cursor: pointer;
}

.col-xl-9 .dang_ki {
    margin-left: 60px;
    margin-top: 20px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.dang_ki a {
    text-decoration: none;
    color: red;
}